<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Dear Applicant,</p> <br>
<p>You have been shortlisted for an interview for the post of financial /</p>
<p>Executive Sale Advisor at Custodian investment Plc @2nd floor, Prime Plaza,  </p>
<P>Plot 1012, Adetokubo Ademola Crescent, Opposite Rockview, Wuse 2, Abuja.  </P>
<p>The interview will span for 3 days, and you are to be present for all 3 days.</p> <br>

<p>Date: 4th, 5th and 6th September, 2023</p>
<p>Time: 8am daily</p>
<p>Dress Code: Strictly Corporate</p>
<p>Please come along with Hardcopy of your CV.</p> <br>

<p>Congratulations</p> <br>

<p>Warm regards</p> <br>

<p>Kehinde Oluwabusuyi</p>
<p>Regional Manager</p>

<p>Custodian Life Assurance Ltd,</p>
<p>2nd floor, Prime Plaza,</p>
<p>Plot 1012, Adetokubo Ademola Crescent,</p>
<p>wuse Abuja</p>
<p>Tel: 08126188203</p>

</body>
</html>